.users_list_container {
  width: 100%;
  height: calc(100vh - 2rem - 3rem - 5rem);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: auto;

  /* padding: 1rem;
  background-color: white;
  /* margin: 0 auto; */
}

.flex-direction-column {
  flex-direction: column;
}

.directory-container {
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: larger;
}
