.user-card-container {
  height: 5rem;
  width: 90%;
  cursor: pointer;
  min-height: 4rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  background-color: aqua;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
  padding: 0 1rem;
  /* margin: 0 auto; */
}

.user-card-container:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(56, 17, 172, 0.2);
}

.name-details-width {
  width: 70%;
}

.post-details-width {
  width: 30%;
  text-align: right;
}
