.custom-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  width: 20rem;
  height: 20rem;
  background-color: aquamarine;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: column;
}

.modal-title {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
