.clock-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 20rem;
}

.select-timezone {
  display: flex;
  /* width: 10rem; */
}

.select-timezone-field {
  width: 10rem;
}

@media screen and (width<= 450px) {
  .select-timezone-field {
    width: 6rem;
    /* margin-left: 1rem; */
  }
}
