.clock-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 20rem;
}

.select-timezone {
  display: flex;
}

.select-timezone-field {
  width: 10rem;
}

/*media query*/
